﻿*
{
    font-family: Calibri, Arial, Sans-Serif;
    font-size: 14px;
}

body, html, form
{
    margin: 0;
    padding: 0;
}

body
{
    background: #e3dfcf;
}

h1, h2, h3
{
    color: #0a6ab6;
    border-bottom: solid 1px;
    margin: 1em 0 0.3em 0;
}

h1
{
    font-size: 20px;
}
h2
{
    font-size: 17px;
}
h3
{
    font-size: 15px;
}
.page
{
    margin: 0 auto;
    padding: 0 10px;
    width: 960px;
    background: url(images/body-bg.png) 0 0 repeat-y;
}

.headerPane
{
    background: url(images/OHOptinJuly2014WebBanner.jpg) 0 0 no-repeat;
    height: 190px;
}
.contentPane
{
    padding: 1px 0;
}

.contentPane .margin
{
    margin: 20px;
}

.footerPane
{
    width: 960px;
    height: 115px;
    padding: 0 10px;
    margin: 0 auto 40px auto;
    background: url(images/footer-bg.png) 0 0 no-repeat;
}

.footerPane .inner
{
    margin: 0 20px 20px 20px;
    border-top: solid 2px #0a6ab6;
    color: #999;
    padding-top: 20px;
}

a:link
{
    color: #84414A;
    text-decoration: underline;
}
a:visited
{
    color: #84414A;
    text-decoration: underline;
}
a:hover
{
    color: #666666;
    text-decoration: underline;
}
a:active
{
    color: #84414A;
    text-decoration: underline;
}

.label
{
    text-align: right;
    vertical-align: top;
    padding-top: 5px;
    padding-right: 10px;
    white-space: nowrap;
}

.data
{
}

.validator
{
    padding-left: 10px;
}

.disclamer
{
    background: #90EE90;
    font-style: italic;
    /*border: solid 1px #FAB140;*/
    color: #2a3022;
    padding: 10px;
}

.modalBackground
{
    background-color: Grey;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.modalPopup
{
    background-color: #ffffdd;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 5px;
    width: 300px;
    height: 220px;
}

#myModal{
    position: relative;
    background-color: white;
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

hr {
    color: #e0e0e0;
    background-color: #e0e0e0;
    border: 0;
    height: 1px;
}

