﻿<%@ Master Language="C#" AutoEventWireup="true"
  CodeBehind="Default.master.cs"
  Inherits="CFLKits.Web.App_Shared.Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">  
  <script type="text/javascript" src="Scripts/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="Scripts/jquery-ui.js"></script>
  <input type="hidden" title="VersionNumber" value="1.2" />  
  <title>FirstEnergy Energy Conservation Kit Program</title>
  <asp:ContentPlaceHolder ID="head" runat="server">   
  </asp:ContentPlaceHolder>
</head>
<body>   
  <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager" runat="server">
      <Scripts>
        <%--<asp:ScriptReference Path="~/Scripts/jquery-1.4.1-vsdoc.js" /> --%>
      </Scripts>
    </asp:ScriptManager>
    <div class="page">
      <div class="headerPane">
      </div>
      <div class="contentPane">
        <div class="margin">
          <asp:ContentPlaceHolder runat="server" ID="Content">
          </asp:ContentPlaceHolder>
        </div>
      </div>
      <div class="sidePane">
        <asp:ContentPlaceHolder runat="server" ID="SideContent">
        </asp:ContentPlaceHolder>
      </div>
    </div>
    <div class="footerPane">
      <div class="inner">
        &copy; FirstEnergy. All rights reserved.&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="https://www.firstenergycorp.com/content/fecorp/corporate/privacy_legal_statement.html" target="_blank">Privacy &amp; Legal Statement</a>
      </div>
      <p style="font-size: x-small; margin-left: 10px">
        Your participation in these programs reduces demand for electricity,
             which results in energy efficiency resource credits being created.  Through your participation in these programs, you agree to allow your utility 
            to take ownership of and aggregate these credits and sell them into the market.
             Proceeds from these sales will be used to reduce the costs charged to our customers 
            to administer these programs.
      </p>
    </div>
  </form>
  <input type="hidden" id="buildNumber" value="<%=HttpContext.Current.ApplicationInstance.GetType().BaseType.Assembly.GetName().Version %>" />
</body>
</html>
